# Extracting Financial Sector Data

This file includes code for 
1. List of stock tickers chosen based on Large, Mid and Low Market Cap
2. Extraction of data for these tickers from Yahoo Finance API using the yfinance library

In [1]:
# Importing Necessary Libraries
import pandas as pd
import requests
import numpy as np
import yfinance as yf
import datetime

In [2]:
# Taking data from YTD
from datetime import datetime
from dateutil.relativedelta import relativedelta

end = datetime.now().date()
start = (datetime.now() - relativedelta(years=1)).date()

print(start, end)

2021-10-23 2022-10-23

# Financial Sector Stock list

|S.No  |TICKER |NAME                            |
|------|-------|--------------------------------|
|1.    | BRK-A |Berkshire Hathaway Inc. (BRK-A) |
|2.    | V     | Visa Incorporated              |
|3.    | JPM   | JPMorgan Chase & Co.           |
|4.    | BAC   | Bank of America                |
|5.    | BLK   | BlackRock Inc.                 |
|6.    | RY-PT | Royal Bank of Canada           |
|7.    | GS-PJ | Goldman Sachs group            |
|8.    | PGR   | The Progressive Corporation    |
|9.    | USB-PH| US Bankcorp                    |
|10.   | PNC   | PNC National Bank              |
|11.   | ALIZF | Allianze SE                    |
|12.   | MS-PK | Morgan Stanley                 |
|13.   | CB    | Chubb Limited                  |
|14.   | CRZBY | CommerzBank AG                 |
|15.   | GL    | Globe Life Incorporated        |
|16.   | SNMYF | SunCorp Limited                |
|17.   | MORN  | Morningstar Limited            |
|18.   | PAX   | Patria Investments Limited     |
|19.   | NAVI  | Navient Corporation            |
|20.   | ETY   | Eaton Vance Tax-Managed Fund   |
|21.   | SBCF  | Seacoast Banking Corporation   |

In [3]:
financial_list = "BRK-A V JPM BAC BLK RY-PT GS-PJ PGR USB-PH PNC ALIZF MS-PK CB CRZBY GL SNMYF MORN PAX NAVI ETY SBCF"

In [4]:
df = yf.download(financial_list, start=start, end=end, progress = False, group_by="ticker")

In [5]:
df.dropna(axis = 1, inplace = True)

In [6]:
stock_list = []
for i in df.columns:
    if i[0] not in stock_list:
        stock_list.append(i[0])
    else:
        continue

In [7]:
len(stock_list)

21

In [8]:
df["BRK-A"].shape

(251, 6)

In [9]:
df.head()

                  PAX                                                   ALIZF  \
                 Open   High    Low      Close  Adj Close  Volume        Open
Date
2021-10-25  16.850000  17.35  16.85  17.110001  16.405674  637100  233.399994
2021-10-26  17.120001  17.41  17.08  17.240000  16.530323  506800  233.149994
2021-10-27  17.280001  17.41  17.09  17.190001  16.482382  287800  233.250000
2021-10-28  17.209999  17.25  17.16  17.225000  16.515940  118800  232.550003
2021-10-29  17.190001  17.27  17.16  17.160000  16.453615  267200  239.399994

                                                ...        MORN              \
                  High         Low       Close  ...         Low       Close
Date                                            ...
2021-10-25  233.399994  230.009995  232.460007  ...  298.450012  300.540009
2021-10-26  236.500000  231.509995  231.509995  ...  299.290009  306.250000
2021-10-27  233.479996  231.199997  233.250000  ...  304.190002  305.570007
2021-10-28  234.539993  232.000000  233.960007  ...  302.320007  320.980011
2021-10-29  239.399994  230.080002  232.250000  ...  312.359985  316.750000

                                    GS-PJ                                   \
             Adj Close  Volume       Open       High        Low      Close
Date
2021-10-25  298.863556  188000  26.930000  26.995001  26.830000  26.965000
2021-10-26  304.541748  179900  26.950001  26.980000  26.900000  26.980000
2021-10-27  303.865509  101700  26.969999  27.000000  26.910000  26.959999
2021-10-28  319.189545  146900  26.959999  27.040001  26.959999  27.010000
2021-10-29  314.983154   77200  26.930000  27.030001  26.879999  26.879999


            Adj Close  Volume
Date
2021-10-25  25.897684   41583
2021-10-26  25.912090   43040
2021-10-27  25.892881   40631
2021-10-28  25.940905   24395
2021-10-29  25.816050  112343

[5 rows x 126 columns]

In [10]:
df.tail()

              PAX                                                ALIZF  \
             Open    High     Low  Close Adj Close  Volume        Open
Date
2022-10-17  12.85  13.075  12.820  12.99     12.99   88600  165.080002
2022-10-18  13.25  13.250  12.970  13.09     13.09  208200  173.309998
2022-10-19  13.05  13.050  12.707  12.90     12.90  180400  175.360001
2022-10-20  12.98  13.125  12.710  12.80     12.80  165700  174.839996
2022-10-21  12.72  12.950  12.430  12.85     12.85  155200  175.160004

                                                ...        MORN              \
                  High         Low       Close  ...         Low       Close
Date                                            ...
2022-10-17  173.309998  165.080002  173.309998  ...  216.080002  220.179993
2022-10-18  175.360001  164.860001  175.360001  ...  219.059998  220.979996
2022-10-19  175.360001  175.360001  175.360001  ...  213.960007  214.949997
2022-10-20  174.839996  174.839996  174.839996  ...  207.130005  209.089996
2022-10-21  175.160004  164.330002  164.330002  ...  207.110001  214.100006

                                    GS-PJ                                   \
             Adj Close  Volume       Open       High        Low      Close
Date
2022-10-17  220.179993  108400  24.719999  24.809999  24.719999  24.750000
2022-10-18  220.979996   73900  24.799999  24.799999  24.709999  24.760000
2022-10-19  214.949997   73500  24.680000  24.780001  24.629999  24.719999
2022-10-20  209.089996   81700  24.719999  24.770000  24.700001  24.730000
2022-10-21  214.100006   72700  24.690001  24.889999  24.680000  24.700001


            Adj Close  Volume
Date
2022-10-17  24.750000   40513
2022-10-18  24.760000   57083
2022-10-19  24.719999  122558
2022-10-20  24.730000  101274
2022-10-21  24.700001  119229

[5 rows x 126 columns]